---
import Section from "./Section.astro";
---

<Section>
  <div>
    <p id="methodology" class="text-base font-bold">检测机制</p>
    <p class="mb-4 text-base font-bold">===========</p>
<!--    <p class="py-2">
      <b>Distributed Footprint: </b>We run our tools daily in multiple data
      centers using <a
        class="underline hover:text-orange-600"
        href="https://fly.io/docs/reference/regions/"
        target="_blank">Fly.io</a
      >. Currently we run in cdg, iad, and sea.
    </p> --!>
    <p class="py-2">
      <b>连接预热 </b>为了消除 HTTP 连接建立时的延迟，会先进行一次预热连接。
    </p>
    <p class="py-2">
      <b>TTFT测量: </b>首次生成 token 时间的计时从发起 HTTP 请求开始，到在流式响应中接收到第一个 token 时结束。
    </p>
    <p class="py-2">
      <b>输出token数: </b>不同模型的 token 计算方式不同，输出内容统一为「提供API搬家服务的大模型们」。
    </p>
    <p class="py-2">
      <b>三次尝试，择优记录: </b>对于每个服务提供商，会进行三次独立的推理测试，然后选择最佳的结果（以排除由于排队等造成的异常值）。
    </p>
  </div>
</Section>
