---
import Section from "./Section.astro";
---

<Section>
  <div>
    <p id="source" class="text-base font-bold">开放源代码</p>
    <p id="source" class="mb-4 text-base font-bold">===========</p>
  <!--  <p class="py-2">
      <b>Raw Data: </b>All data is in this public <a
        class="underline hover:text-orange-600"
        href="https://storage.googleapis.com/thefastest-data"
        target="_blank">GCS bucket</a
      >.
    </p>
    <p class="py-2">
      <b>Benchmarking Tools: </b>The full test suite is available in the <a
        class="underline hover:text-orange-600"
        href="https://github.com/fixie-ai/ai-benchmarks"
        target="_blank">ai-benchmarks repo</a
      >.
    </p>--!>
    <p class="py-2">
    <!--  <b>网站：</b>此网站源代码地址见 <a
        class="underline hover:text-orange-600"
        href="https://github.com/morso/llmbenchmark"
        target="_blank">GitHub</a
      >。
    </p> --!>
    <p class="py-2">
      <b>注：</b>代码内容待整理后统一开源 <a</a
      >。
    </p>
  </div>
</Section>
